<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Random Passcode Generator</title>
</head>
<body>
    <p>Random passcode (passcode #@ViewBag.counter)</p>
    <div id='passcode'>
        <h3>@ViewBag.passcode</h3>
    </div>
    <a href = '/reload'><button>Generate</button></a>
</body>
</html>