<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>Alyssa's Portfolio - Home</title>
</head>
<body>
    <div class = 'navbar'>
        <div><a href='/home'>Home</a></div>
        <div><a href = '/projects'>Projects</a></div>
        <div><a href = '/contact'>Contact</a></div>
    </div>
    <div class = 'container'>
        <h1>Alyssa Nickow</h1>
        <img id='headshot' src="/images/Headshot.png">
        <h3>About Me</h3>
        <p>Enthusiastic full-stack developer proficient in Python and MEAN, currently studying C#. I am a strategic problem solver, passionate about using data, feedback, and testing to work towards personal and professional improvement. I am excited about bringing my collaborative and critical-thinking skills as well as my commitment to life-long learning to a new technological role. Seeking opportunities in back-end development with companies who value social impact, community improvement and education for the greater good.</p>
    </div>
</body>
</html>