<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/styles.css"/>
    <title>Alyssa's Portfolio - Projects</title>
</head>
<body>
    <div class = 'navbar'>
        <div><a href='/home'>Home</a></div>
        <div><a href = '/projects'>Projects</a></div>
        <div><a href = '/contact'>Contact</a></div>
    </div>
    <div class = 'container'>
        <h1>Projects</h1>
        <div class = 'project'>
            <h3>TixPix</h3>
            <img src = '/images/tixpix.png'>
            <p>Created using Python and Django, TixPix is a ticket resale web app where users can search for events, post tickets for sale, or purchase tickets.</p>
        </div>
        <div class = 'project'>
            <h3>Pinacle</h3>
            <img src = '/images/pinacle.jpeg'>
            <p>Created using MEAN, Pinacle is a content management web app where users can search for pins and boards about various pickle-themed topics.</p>
        </div>
        <div class = 'project'>
            <h3>Disappearing Hailees</h3>
            <img src = '/images/Hailee.png'>
            <p>Created using jQuery, Disappearing Hailees is a simple web game I created for my young niece where she can interact with pictures of herself.</p>
        </div>
    </div>
</body>
</html>