@{
    ViewData["Title"] = "Quoting Dojo";
}
<form action="/quotes" method="post">
    <h3>Your name: <input type="text" name="name"></h3>
    <h3>Your quote: <textarea name="quote" cols="30" rows="10"></textarea></h3>
    <input type="submit" value='Add my quote!'>
</form>
</br>
<a href="/quotes"><button>Skip to quotes!</button></a>