<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Dojo Survey</title>
</head>
<body>
    <div class = 'container'>
        <h1>Submitted Info</h1>
        <h3>Name: @ViewBag.name</h3>
        <h3>Dojo Location: @ViewBag.location</h3>
        <h3>Favorite Language: @ViewBag.language</h3>
        <h3>Comment: @ViewBag.comment</h3>
        <a href = '/index'><button>Go Back</button></a>
    </div>
</body>
</html>